<!doctype html>
<html class="no-js h-100" lang="en">
  
<meta http-equiv="content-type" content="text/html;charset=utf-8" />

<head>
  <!-- End Google Tag Manager -->
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>ReviewIt - {{ title }}</title>
  <meta name="description" content=" Use ReviewIt, Now analyze your reviews without any care in the world">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/4.1.3/css/bootstrap.min.css') }}">
  <link rel="stylesheet" id="main-stylesheet" data-version="1.1.0" href="{{ url_for('static', filename='styles/shards-dashboards.1.1.0.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/extras.1.1.0.min.css') }}">
  <script async defer src="{{ url_for('static', filename='scripts/buttons.js') }}"></script>
</head>   
{% if current_user.is_authenticated %}
<body>
{% else %}
<body style="overflow:hidden;">
{% endif %}
  <style type="text/css">
    .formpad{
      padding:20vh 0;
    }
  </style>
  <div class="container-fluid">
    <div class="row">
      {% if current_user.is_authenticated %}
      <!-- Main Sidebar -->
      <aside class="main-sidebar col-12 col-md-3 col-lg-2 px-0">
        <div class="main-navbar">
          <nav class="navbar align-items-stretch navbar-light bg-white flex-md-nowrap border-bottom p-0">
            <a class="navbar-brand w-100 mr-0" href="#" style="line-height: 25px;">
              <div class="d-table m-auto">
                <img id="main-logo" class="d-inline-block align-top mr-1" style="max-width: 25px;" src="{{ url_for('static', filename='images/shards-dashboards-logo.svg') }}" alt="Shards Dashboard">
                <span class="d-none d-md-inline ml-1">Shards Dashboard</span>
              </div>
            </a>
            <a class="toggle-sidebar d-sm-inline d-md-none d-lg-none">
              <i class="material-icons">&#xE5C4;</i>
            </a>
          </nav>
        </div>

        <div class="nav-wrapper">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" href="index-2.html">
                <i class="material-icons">edit</i>
                <span>Blog Dashboard</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="components-blog-posts.html">
                <i class="material-icons">vertical_split</i>
                <span>Blog Posts</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="add-new-post.html">
                <i class="material-icons">note_add</i>
                <span>Add New Post</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="form-components.html">
                <i class="material-icons">view_module</i>
                <span>Forms &amp; Components</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="tables.html">
                <i class="material-icons">table_chart</i>
                <span>Tables</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="user-profile-lite.html">
                <i class="material-icons">person</i>
                <span>User Profile</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="errors.html">
                <i class="material-icons">error</i>
                <span>Errors</span>
              </a>
            </li>
          </ul>
        </div>
      </aside>
      <!-- End Main Sidebar --> 
      {% endif %}
      {% if current_user.is_authenticated %}
      <main class="main-content col-lg-10 col-md-9 col-sm-12 p-0 offset-lg-2 offset-md-3">
      {% else %}
      <main class="main-content col-lg-12 col-md-12 col-sm-12 p-0">
      {% endif %}
          <div class="main-navbar sticky-top bg-white">
            <!-- Main Navbar -->
            <nav class="navbar align-items-stretch navbar-light flex-md-nowrap p-0">
              {% if not current_user.is_authenticated %}
              <div class="page-header row no-gutters py-3">
                <div class="text-center text-sm-left mb-0" style="margin:0px 0px;">
                  <h3 class="page-title" style=" color: #60e3a2 !important;"> &nbsp; ReviewIt</h3>
                </div>
              </div>
              {% endif %}
              <ul class="navbar-nav ml-auto border-left flex-row">
                {% if current_user.is_authenticated %}
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle text-nowrap px-3" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    <img class="user-avatar rounded-circle mr-2" src="{{ url_for('static', filename='images/avatars/default.jpg') }}" alt="{{ current_user.fname }} {{current_user.lname}}"> <span class="d-none d-md-inline-block">{{ current_user.fname}} {{current_user.lname}}</span>
                  </a>
                  <div class="dropdown-menu dropdown-menu-small">
                    <a class="dropdown-item" href="{{ url_for('users.account', uname=current_user.username) }}"><i class="material-icons">&#xE7FD;</i> Profile</a>
                    <a class="dropdown-item" href="components-blog-posts.html"><i class="material-icons">vertical_split</i> Blog Posts</a>
                    <a class="dropdown-item" href="add-new-post.html"><i class="material-icons">note_add</i> Add New Post</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item text-danger" href="{{ url_for('users.logout') }}">
                      <i class="material-icons text-danger">&#xE879;</i> Logout </a>
                  </div>
                </li>
                {% else %}
                <li class="nav-item border-right notifications">
                  <a href = "{{ url_for('users.login') }}" class="nav-link text-nowrap px-3" style="margin: 10px 0;">
                    <i class="fas fa-key"></i>
                    <span class="d-none d-md-inline-block"> Login</span>
                  </a>
                </li>
                <li class="nav-item border-right notifications">
                  <a href = "{{ url_for('users.register') }}" class="nav-link text-nowrap px-3" style="margin: 10px 0;">
                    <i class="fas fa-user-plus"></i>
                    <span class="d-none d-md-inline-block"> Register</span>
                  </a>
                </li>
                {% endif %}
              </ul>

            </nav>
          </div> <!-- / .main-navbar -->
          <div class="main-content-container container-fluid px-4">
            

            <div class="row">
              <div class="offset-md-3 col-md-6">
                {% with messages = get_flashed_messages(with_categories=true) %}
                  {% if messages %}
                    {% for category, message in messages %}
                      <div class="alert alert-{{ category }}">
                        {{ message }}
                      </div>
                    {% endfor %}
                  {% endif %}
                {% endwith %}
              </div>
            </div>

            {% block content %}
            
            {% endblock content %}
          </div>

          <footer class="main-footer d-flex p-2 px-3 bg-white border-top">
            <ul class="nav">
              <li class="nav-item">
                <a class="nav-link" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Services</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Products</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Blog</a>
              </li>
            </ul>
            <span class="copyright ml-auto my-auto mr-2">Developed By <a href="#" rel="nofollow">Team ReviewIt</a></span>
          </footer>
        </main>
    </div>
  </div>

  <script src="{{ url_for('static', filename='scripts/jquery-3.3.1.min.js') }}"></script>
  <script src="{{ url_for('static', filename='scripts/ajax/libs/popper.js/1.14.3/umd/popper.min.js') }}"></script>
  <script src="{{ url_for('static', filename='bootstrap/4.1.3/js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='scripts/ajax/libs/Chart.js/2.7.1/Chart.min.js') }}"></script>
  <script src="{{ url_for('static', filename='shards-ui@3.0.0/dist/js/shards.min.js') }}"></script>
  <script src="{{ url_for('static', filename='scripts/ajax/libs/Sharrre/2.0.1/jquery.sharrre.min.js') }}"></script>
  <script src="{{ url_for('static', filename='scripts/extras.1.1.0.min.js') }}"></script>
  <script src="{{ url_for('static', filename='scripts/shards-dashboards.1.1.0.min.js') }}"></script>
  <script src="{{ url_for('static', filename='scripts/app/app-blog-overview.1.1.0.min.js') }}"></script>
</body>
</html>